.contactInfoCard {
	background-color: rgba(61, 102, 174, .8);
	border-radius: 22px;
	width: 485px;
	height: 577px;
	display: flex;
	justify-content: center;
	&__wrapper {
		width: 330px;
	}
	&__user {
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 25px 0px 20px 0px;
	}
	&__userAvatar {
		width: 86px;
		height: 86px;
		border-radius: 50%;
	}
	&__contactName {
		font-family: $font-main;
		font-size: 26px;
		font-weight: 400;
		color: white;
		padding-top: 15px;
	}
	&__interactionButtons {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}
}