.paper {
	&__container {
		display: flex;
		justify-content: center;
		height: 105vh;
	}
	display: grid;
	grid-template-columns: 30% 70%;
	background-color: rgba(95, 138, 250, .3);
	border: none;
	border-radius: 22px;
	height: 82vh;
	margin-top: 60px;
	&::-webkit-scrollbar {
		width: 10px;
	}
	&::-webkit-scrollbar-track {
		display: none;
	}
	&::-webkit-scrollbar-thumb {
		display: none;
	}
}
.calendar {
	padding: 30px 0px 30px 30px;
	&__title {
		font-size: 41px;
		font-family: $font-main;
		font-weight: 400;
		color: white;
	}
}
.react-calendar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	&__viewContainer {
		width: 80%;
	}
	&__month-view {
		&__days {
			column-gap: 48.7px;
			row-gap: 20px;
			&__day {
				max-width: 60px!important;
				height: 60px;
				background-color: transparent;
				border: none;
				border-radius: 50%;
				& abbr {
					color: white;
					font-family: $font-main;
					font-size: 23px;
					font-weight: 400;
				}
				&--neighboringMonth {
					border: 1.65px solid rgb(244, 224, 244);
					box-shadow: inset 0px 0px 6.6px 1px rgba(0, 0, 0, .25);
				}
			}
		}
		&__weekdays {
			column-gap: 48.75px;
			margin-bottom: 40px;
			&__weekday {
				text-align: center;
				& abbr {
					text-decoration: none;
					text-transform: uppercase;
					font-family: $font-main;
					font-size: 23px;
					font-weight: 400;
					color: white;
				}
				
			}
			
		}
	}
	&__tile--active {
		border: 1.65px solid #F4E0F4;
		box-shadow: inset 0px 0px 6.6px 0px #FFFFFF;
	}
	&__navigation {
		width: 80%;
		margin: 30px 0px;
		display: flex;
		justify-content: space-around;
		&__next2-button {
			display: none;
		}
		&__prev2-button {
			display: none;
		}
		&__label, &__prev-button, &__next-button {
			border: none;
			background-color: transparent;
			font-family: $font-main;
			text-align: center;
			width: min-content;
			cursor: pointer;
		}
		&__label {
			font-size: 33px;
			color: white;
			flex-grow: 0!important;
		}
		&__prev-button, &__next-button {
			font-size: 33px;
			color: rgba(255, 255, 255, .7);
		}
	}
	
}

@media screen and (max-width: 1366px) {
	.paper {
		height: 100vh;
		&__container {
			width: 98%;
			height: 130vh;
		}
		
	}
}