.project {
	display: grid;
	grid-template-columns: 1fr 380px;
	justify-items: center;
	&__outlet {
		background-color: $transparent-white;
		border-radius: 8px;
		margin-top: 75px;
		padding: 15px;
	}
	&__main {
		display: grid;
		grid-template-columns: 445px 1fr;
	}
	&__wrapper {
		width: 100%;
	}
}