.user {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	&__avatar {
		width: 177px;
		height: 177px;
		border-radius: 50%;
		background: center / cover repeat url('../../assets/images/pic/example-ava.jpg');
	}
	&__description {
		font-family: $font-main;
		color: white;
		font-weight: normal;
		font-size: 2.25rem;
	}
}