.projectIdeas {
	&__head {
		display: flex;
		justify-content: space-between;
	}
	&__title {
		font-family: $font-main;
		font-size: 36px;
		font-weight: 400;
		color: white;
		padding-bottom: 45px;
	}
	&__item {
		font-family: $font-main;
		font-size: 24px;
		color: white;
		font-weight: 400;
		border-bottom: 1px solid $half-trans-white;
		padding-bottom: 15px;
		margin-bottom: 20px;
		cursor: pointer;
	}
}