.projectImportant {
	&__head {
		display: flex;
		justify-content: space-between;
	}
	&__title {
		font-family: $font-secondary;
		font-size: 36px;
		font-weight: 400;
		color: white;
		padding-bottom: 45px;
	}
	&__tasks {

	}
	&__item {
		list-style-type: decimal;
		list-style-position: inside;
		font-family: $font-secondary;
		font-size: 24px;
		color: white;
		font-weight: 400;
		padding: 20px 0px;
		box-shadow: inset 0px 10px 4px -4px rgba(0, 0, 0, .25);
	}
}