.contactsNavigate {
	display: flex;
	justify-content: center;
	&__list {
		
		position: relative;
		& li {
			text-align: center;
			padding: 1px 10px;
			&:hover {
				&::after {
					content: "";
					position: absolute;
					width: 1.5px;
					height: 18.5px;
					right: 0;
					background-color: #fff;
				}
			}
		}
	}
	&__link {
		text-transform: uppercase;
		text-decoration: none;
		color: white;
		font-family: $font-main;
		font-size: 20px;
		font-weight: 400;
		position: relative;
		&:hover {
			color: #00C8D4;
		}
	}
}