.searchBrowser {
    position: relative;
    &__input {
        position: relative;
        width: 90%;
        border-radius: 8px;
        background-color: $quarter-trans-black;
        border: none;
        color: white;
        padding: 22px 20px 22px 60px;
        &::placeholder {
            color: rgba(255, 255, 255, .6);
        }
     }
     &__input, &__input::placeholder {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 24px;
     }
     &__image {
        position: absolute;
        top: 20px;
        width: 32px;
        height: 32px;
        left: 18px;
        color: rgba(255, 255, 255, .6);
     }
}
