.input {
	&__container {
		background-color: #4b4052;
		margin: 10px 0px;
		width: 65.1%;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 8px;
	}
	border: .5px solid $other-border;
	outline: none;
	width: 100%;
	border-radius: 8px;
	padding: 14px 16px;
}

input {
	font-family: $font-primary;
	font-weight: 400;
	&::placeholder {
		font-family: $font-primary;		
		font-weight: 400;
		color: $text-gray;
		font-size: .875rem;
		// padding-left: 16px;
	}
}