.loginButton {
    position: relative;
	display: flex;
    flex-direction: column;
	align-items: center;
	padding-right: 50px;
	border: none;
	background-color: transparent;
	text-decoration: none;
	color: white;
    &__main {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: transform .3s ease-out;
        &:active {
            transform: scale(.9);
        }
    }
	
	&__avatar {
		padding-right: 10px;
	}
	&__username {
		padding-right: 10px;
		position: relative;
		&::after {
			content: "\203A";
			position: absolute;
			top: 0%;
			right: -20px;
			bottom: 54%;
			padding-left: 10px;
			transform: rotate(90deg);
		}
	}
    &__modal {
        opacity: 0;
        display: none;
        transition: opacity .3s ease-in;
        &--visible {
            position: absolute;
            bottom: -115px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            background: rgba(72, 128, 161, .5);
            padding: 20px;
            border-radius: 8px;
            opacity: 1;
            & a, & button {
                font-family: $font-main;
                font-size: 18px;
                font-weight: 400;
                color: white;
                &:hover {
                    text-decoration: underline;
                }
            }
            & a {
                text-decoration: none;
            }
            & button {
                border: none;
                background: transparent;
                cursor: pointer;

            }
        }
    }
}
