.createFolderButton {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	&__container {
		display: flex;
		align-items: center;
		cursor: pointer;
	}
	&__image {
		width: 20px;
		height: 17px;
		padding-right: 15px;
	}
	&__name {
		
	}
}