/* Fonts */
$font-main: 'SF Pro Display', sans-serif;
$font-secondary: 'Inter', sans-serif;

/* Colors */
$bg-card: #F9F9F9;
$bg-select: rgba(42, 82, 140, .85);
$bg-button: rgba(24, 24, 24, 0.7);
$bg-navbar: rgba(27, 62, 131, 0.3);
$bg-color: rgba(27, 62, 131, 1);
$transparent-white: rgba(255, 255, 255, .1);
$quarter-trans-white: rgba(255, 255, 255, .2);
$half-trans-white: rgba(255, 255, 255, .4);
$quarter-trans-black: rgba(0, 0, 0, .25);
$other-gray: #E0E0E0;

$text-gray: #8F8F8F;

$other-shadow: rgba(16, 30, 115, 0.06);
$other-border: #BDBDBD;
