.button {
	&__container {
		display: flex;
		justify-content: center;
		margin-top: 1.25rem;
		margin-bottom: 1.875rem;
		width: 65.1%;
	}
	width: 100%;
	padding: .905rem 0px;
	border: none;
	border-radius: 5px;
	outline: none;
	background-color: $bg-button;

	font-family: $font-main;
	font-weight: 400;
	color: white;
	transition: all .2s ease;
	&:hover {
		background-color: #4a54e3b6;
		cursor: pointer;
	}
	&:active {
		box-shadow: 0px 0px 8px inset black;
	}
}