.settingFolderButton {
	display: flex;
	align-items: center;
	width: max-content;
	cursor: pointer;
	&__container {
		display: flex;
		flex-direction: column;
		position: relative;
	}
	&__image {
		width: 19px;
		height: 19px;
		padding-right: 12.5px;
	}
}